h1 {
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  div {
    display: flex;
    margin-top: 30%;
    background-color: blueviolet;
    text-align: center;
  }

  input {

    
  }